<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Onde É UnB</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,500' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' %>
    <%= stylesheet_link_tag 'https://unpkg.com/leaflet@1.0.3/dist/leaflet.css' %>
    <%= stylesheet_link_tag 'map' %>
  </head>
  <body>
    <div id="sidebar"></div>

    <div id="map"></div>
    <div id="searchContainer"></div>
    <div class="leaflet-top leaflet-right">
      <div class="leaflet-control-layers leaflet-control leaflet-control-layers-expanded" aria-haspopup="true">
        <a class="leaflet-control-layers-toggle" href="#" title="Layers"></a>
        <!--<form class="leaflet-control-layers-list">-->
          <div class="leaflet-control-layers-overlays">
            <label>
                <input type="checkbox" class="leaflet-control-layers-selector" checked>
                <span> Bicicletários </span>
            </label>
            <label>
                <input type="checkbox" class="leaflet-control-layers-selector" checked>
                <span> Banheiros </span>
            </label>
            <label>
                <input type="checkbox" class="leaflet-control-layers-selector" checked>
                <span> Lanchonete </span>
            </label>
            <label>
                <input type="checkbox" class="leaflet-control-layers-selector" checked>
                <span> Ponto de Entrada </span>
            </label>
            <label>
                <input type="checkbox" class="leaflet-control-layers-selector" checked>
                <span> Parada de Ônibus </span>
            </label>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'https://unpkg.com/leaflet@1.0.3/dist/leaflet.js' %>
    <%= javascript_include_tag 'map' %>
  </body>
</html>
