<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Onde É UnB</title>
    </head>
    <%= render :partial => "shared/head"%>
    <%= stylesheet_link_tag 'map' %>
    <body>
        <%= render :partial => "shared/navbar"%>
        <div class="slide-panel animated"></div>

        <div id="map" style="float: left;"></div>
        <div class="btn-group level" role="group">
            <button type="button" class="btn btn-secondary">Subsolo</button>
            <button type="button" class="btn btn-secondary active">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
        </div>

        <div class="info-label"></div>
        <div class="search">
          <input type="text" placeholder="Procurar Locais" class="form-control  mr-sm-2">
          <label class="fa fa-search" title="Procurar Locais"></label>
        </div>

        <script src="https://use.fontawesome.com/84624258b7.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCxXbyDJA8I_TUJDsmD_O8EKpzd51UtRrk&sensor=false&libraries=drawing"></script>
        <div>
          <%= javascript_include_tag 'map' %>
        </div>
        <div>
          <%= render :partial => "shared/footer"%>
        </div>
    </body>
</html>
