<table class= "table">
  <thead>
    <tr>
      <th>Plantas</th>
      <th>Descrição</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.department %></td>
        <td><%= plan.description %></td>
        <td><%= link_to 'Mostrar', plan %></td>
        <td><%= link_to 'Remover', plan, method: :delete,
            data: { confirm: 'Tem certeza que deseja apagar esta planta?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Plantas', new_plans_path %>
