<!DOCTYPE html>
<html>
	<head>
		<title>Admin - Onde É</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'admin', media: 'all' %>
	</head>
	<body>
		<div class="app app-default">
			<%= render 'layouts/admin/sidebar' %>
			<div class="app-container">
				<%= render 'layouts/admin/header' %>
				<%= yield %>
			</div>
		</div>
		<%= javascript_include_tag 'https://use.fontawesome.com/84624258b7.js' %>
		<%= javascript_include_tag 'admin' %>
	</body>
</html>
