<div class="row" style="margin-top: 30px;">
    <div class="col-xs-12">
      <%= notice.html_safe unless notice.blank? %>
        <div class="card card-mini">
            <div class="card-header">
                <div class="card-title">Departamentos</div>
                <ul class="card-action">
                    <li>
                        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_admin_department_path %>
                    </li>
                </ul>
            </div>
            <div class="card-body no-padding table-responsive">
                <table class="table card-table">
                    <thead>
                        <tr>
                            <th>Sigla</th>
                            <th>Título</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @departments.each do |department| %>
                        <tr>
                            <td><%= department.acronym %></td>
                            <td><%= department.title %></td>
                            <td><%= department.phone %></td>
                            <td>
                                <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_department_path(department) %>
                                <%= link_to '<i class="fa fa-remove"></i>'.html_safe, admin_department_path(department), method: :delete, data: {
                                  'sweet-alert-confirm': 'Alerta',
                                  'confirm-button-text': 'Sim',
                                  'confirm-button-color': '#DD6B55',
                                  'cancel-button-text': 'Cancelar',
                                  'text': 'Tem certeza que deseja apagar este departamento?'
                                }%>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
