<table class= "table">
  <thead>
    <tr>
      <th>Departamento</th>
      <th>Descrição</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.department %></td>
        <td><%= building.description %></td>
        <td><%= link_to 'Mostrar', building %></td>
        <td><%= link_to 'Remover', building, method: :delete,
            data: { confirm: 'Tem certeza que deseja apagar este prédio?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar edifício', new_building_path %>
