<div class="card">
  <div class="row">
    <div class="col-md-3">
      <div class="card-header">
        <%= title %>
      </div>
      <div class="card-body">
        <%= form_for(plan, url: url, validate: true) do |f| %>
        <div class="form-group">
          <%= f.label :building_id %>
          <%= f.select :building_id, options_from_collection_for_select(@buildings, :id, :acronym), {}, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.label :level %>
          <%= f.number_field :level, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.hidden_field :image, value: plan.cached_image_data, data: { image: plan.image_url } %>
          <%= f.file_field :image, class: 'form-control plan_image_file'%>
        </div>
        <div class="form-group">
          <%= f.hidden_field :geo_data %>
          <%= f.submit 'Salvar', class: 'btn btn-sm btn-success', id: "Salvar"  %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <div id="map"></div>
    </div>
  </div>
</div>
