<div class="row">
    <div class="col-xs-12">
        <div class="card card-mini">
            <div class="card-header">
                <div class="card-title">Edifícios</div>
                <ul class="card-action">
                    <li>
                        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_admin_building_path %>
                        <a href="/"></a>
                    </li>
                </ul>
            </div>
            <div class="card-body no-padding table-responsive">
                <table class="table card-table">
                    <thead>
                        <tr>
                            <th>Sigla</th>
                            <th>Título</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @buildings.each do |building| %>
                        <tr>
                            <td><%= building.acronym %></td>
                            <td><%= building.title %></td>
                            <td><%= building.phone %></td>
                            <td>
                                <%= link_to 'Editar', edit_admin_building_path(building) %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
