<aside class="app-sidebar" id="sidebar">
    <div class="sidebar-header">
        <a class="sidebar-brand" href="<%= root_path %>">
            <span class="highlight">Onde É</span>
            UnB</a>
        <button type="button" class="sidebar-toggle">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="sidebar-menu">
        <ul class="sidebar-nav">
            <li>
                <a href="<%= admin_buildings_path %>">
                    <div class="icon">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
                    <div class="title">Edifícios</div>
                </a>
            </li>
            <li>
                <a href="<%= admin_rooms_path %>">
                    <div class="icon">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
                    <div class="title">Salas</div>
                </a>
            </li>
            <li>
                <a href="<%= admin_points_path %>">
                    <div class="icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="title">Pontos</div>
                </a>
            </li>
            <li>
                <a href="<%= admin_plans_path %>">
                    <div class="icon">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </div>
                    <div class="title">Plantas</div>
                </a>
            </li>
            <li>
                <a href="<%= admin_admins_path %>">
                    <div class="icon">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                    </div>
                    <div class="title">Administradores</div>
                </a>
            </li>
        </ul>
    </div>
</aside>
